
@{
    ViewBag.Title = "OperationsResult";
}

<h2>OperationsResult</h2>

<div class="row">

    @foreach (var operResult in ViewBag.OperationResult)
    {
        <div class="col-md-4">
            <p>@operResult.Author</p>
            <p>@operResult.Operation</p>
            <p>@operResult.Id</p>
        </div>
    }
</div>