
@{
    ViewBag.Title = "About_User";
}

<h2>About_User</h2>

<div class="row">

    @foreach (var user in ViewBag.Users)
    {
        <div class="col-md-4">
            <p>@user.FIO</p>
            <p>@user.Login</p>
            <p>@user.Password</p>
            <p>@user.Id</p>
        </div>
    }
</div>