
@{
    ViewBag.Title = "Operation";
}

<h2>Operation</h2>

<div class="row">

    @foreach (var oper in ViewBag.Operation)
    {
        <div class="col-md-4">
            <p>@oper.Name</p>
            <p>@oper.FullName</p>
            <p>@oper.Id</p>
        </div>
    }
</div>


